<section class="start">
<form action="/play" method="POST">
    <h1>PLayer one</h1>
    <input placeholder="enter name" type="text" name="user_one[name]"><br>
    <input placeholder="enter email" type="email" name="user_one[email]"><br>
    <input placeholder="enter password" type="password" name="user_one[password_digest]"><hr>
    <h1>PLayer two</h1>
    <input placeholder="enter name" type="text" name="user_two[name]"><br>
    <input placeholder="enter email"type="email" name="user_two[email]"><br>
    <input placeholder="enter password" type="password" name="user_two[password_digest]"><hr>
    <input type="submit" value=".PLAY IT BIATCH.">
</form>
</section>